    <h2>Mon répertoire téléphonique</h2>

<div class="main">
</br>

<div class="row1 col-md-3"></div>
<div class="col-md-8">
<table>
   <tr>
       <th class="glyphicon glyphicon-user"> Nom</th>
       <th>indicatif</th>
       <th class="glyphicon glyphicon-phone-alt"> Téléphone</th>
   </tr>

   <tr ng-repeat="contact in vm.repertoires">
       <td>{{ contact.nom }}</td>
       <td></td>
       <td>{{ contact.telephone }}</td>
   </tr>


</table>

</br>

</div>
</br>

<div class="row2">

<input ng-model='vm.repertoire.nom' placeholder="nom"></br>

<input ng-model='vm.repertoire.telephone' placeholder="téléphone"></br>
</br>

<input ng-click="vm.create(contact)" type="submit" class="btn btn-login btn-primary" id="_submit" name="_submit" value="Valider" />

</div>

</div>

    </body>
</html>